/* - -Google-Font-Poppins- - */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* - -Variant- - */
:root{
  /* - -MAIN THEME- - */
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;
  
  /* - -HAVER COLOR- - */
  --hover-color: #614fd0;

  /* - -BACKGROUND COLOR- - */
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparant-color: rgba(0, 0, 0, 0.1);
  --transparant-color-01: rgba(0, 0, 0, 0.1);
  --transparant-color-02: rgba(106, 89, 209, 0.1);
  --line-color: #d7d7d7;


/* - -COLOR FILTER- - */
 --color-filter: invert(1);

 /* - -SHADOW BOX- - */
 --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

 /* - -FONT- - */
 --small-font-size: 0.9em;
 --normal-font-seze: 1em;

 /* - -SCROLL BAR COLOR- -  */
 --scroll-bar-color: #c5cadf;
 --scroll-thump-color: #70761a;
 --scroll-thump-hover-color: #454f6b;
}

/* - -BASE- - */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}


/* - -SMOOTH SCROLL- - */
html{
  scroll-behavior: smooth;
}

/* - -BODY- - */
body{
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: .5s ease;
}


a{
  text-decoration: none;
}

li{
  list-style: none;
}


/* - -Header- - */
header{
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: .6s ease;
}

.navigation-bar .container{
  position:relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition:  .6s ease;
}

/* - -Logo- - */
.navigation-bar .logo-1 img{
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
}

/* - -NAV ITEM- - */
.navigation-bar .nav-item a{
  color: var(--first-color);
  font-size: var(--normal-font-seze);
  font-weight: 500;
  margin-right: 50px;
}

.navigation-bar .nav-item a:hover {
  color: var(--second-color);
}


/* - -HOME- - */
.Home{
  position: relative;
  max-width: 1250px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* ia */
.home-container .info-home h2{
  font-size: 2em;
  font-weight: 600;
  line-height: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}


.home-container .info-home h3{
  color: var(--third-color);
  font-weight: 600;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}



.home-container .info-home p{
  color: var(--third-color);
  font-size: var(--normal-font-seze);
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* --Buat Avatar-- */
.avatar {
  margin: auto;
  width: 200px;
  display:  block;
}

/* ABOUT */
.section .about-section{
  background-color: #614fd0;
  color: white;
}