/* - -Google-Font-Poppins- - */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* - -Variant- - */
:root{
  /* - -MAIN THEME- - */
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;
  
  /* - -HAVER COLOR- - */
  --hover-color: #614fd0;

  /* - -BACKGROUND COLOR- - */
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparant-color: rgba(0, 0, 0, 0.1);
  --transparant-color-01: rgba(0, 0, 0, 0.1);
  --transparant-color-02: rgba(106, 89, 209, 0.1);
  --transparant-color-03: rgba(0, 0, 0, 0.1);
  --line-color: #d7d7d7;


/* - -COLOR FILTER- - */
 --color-filter: invert(1);

 /* - -SHADOW BOX- - */
 --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
 --box-shadow-2: rgba(255, 255, 255, 0.1);

 /* - -FONT- - */
 --small-font-size: 0.9em;
 --normal-font-seze: 1em;
 --p-font: 1.1rem;
 --h2-font: 3rem;
 --bif-font: 5rem;

 /* - -SCROLL BAR COLOR- -  */
 --scroll-bar-color: #c5cadf;
 --scroll-thump-color: #70761a;
 --scroll-thump-hover-color: #454f6b;
}

/* - -BASE- - */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}


/* - -SMOOTH SCROLL- - */
html{
  scroll-behavior: smooth;
}

/* - -BODY- - */
body{
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 5rem 0 0 0;
  transition: .5s ease;
}


a{
  text-decoration: none;
}

li{
  list-style: none;
}


/* - -Header- - */
header{
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: .6s ease;
}

header.sticky{
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.navigation-bar .container{
  position:relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition:  .6s ease;
}

.header.sticky .navigation-bar{
  height: calc(2.5rem + 1rem);
}

/* - -Logo- - */
.navigation-bar .logo-1 img{
  height:50px;
  width: 50px;
  background-size: cover;
  background-position: center;
}

/* - -NAV ITEM- - */
.navigation-bar .nav-item a{
  color: var(--first-color);
  font-size: var(--normal-font-seze);
  font-weight: 500;
  margin-right: 50px;
}

.navigation-bar .nav-item a:hover {
  color: var(--second-color);
}


/* - -HOME- - */
.Home{
  position: relative;

  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 3rem;
  flex-direction: column;
}

.home-container{
  justify-content: center;
  width: 100%;
}


/* ia */
.home-container .info-home h2{
  font-size: 3em;
  font-weight: 600;
  line-height: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}


.home-container .info-home h3{
  color: var(--third-color);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 50px;
  justify-content: space-around;
  text-align: center;
}



.home-container .info-home p{
  color: var(--third-color);
  font-size: var(--normal-font-seze);
  max-width: 350px;
  
  justify-content: space-around;
  text-align: center;
}

/* --Buat Avatar-- */
.avatar {
  margin: auto;
  width: 300px;
  display:  block;
  padding: 2em;
}


/* About */
.row {

  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.raw {
  width: 50%;
}

.about-container {
  padding-top: 5rem;
  text-align: center;
  margin-bottom: 2em;
}

.about-container h1{
  font-size: 2em;
  font-weight: 800;
  color: var(--first-color);
  margin-bottom: 10px;
}

.about-info{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  background: var(--body-bg-color);
  box-shadow: 1px 8px 10px 7px var(--transparant-color-03);
  border-radius: 20px;
}

.about-info .PAR-1{
  text-align: center;
  font-size: 15px;
  color: var(--third-color);
  max-width: 80%;

}


/* PORTFOLIO */
#Portfolio{
  padding: 50px 0;
}

.Portfolio h1{
    font-size: 2em;
    font-weight: 800;
    color: var(--first-color);
    margin-bottom: 10px;
    text-align: center;
  }

  .Portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }

  .porto-img{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .porto-img img{
    width: 100%;
    position: relative;
    display: block;
  }
